sphinx
sphinx-rtd-theme
readthedocs-sphinx-search
sphinx-book-theme
openpyxl
rioxarray
matplotlib
jsonschema>=3
ablog
myst_nb
sphinxcontrib.youtube
sphinx-copybutton
sphinx-design
sphinx_examples
sphinx-tabs
sphinx-thebe
sphinx-togglebutton
recommonmark
arrow==1.1.1
asgiref==3.4.1
binaryornot==0.4.4
certifi==2024.7.4
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
cookiecutter==2.1.1
Django==4.2.22
django-tailwind==2.2.0
idna==3.7
MarkupSafe==2.0.1
poyo==0.5.0
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.1
requests==2.32.2
six==1.16.0
sqlparse==0.5.0
text-unidecode==1.3
urllib3==1.26.19
pydata-sphinx-theme
