/* ./your-css-folder/styles.css */
@import "tailwindcss/preflight";
@tailwind utilities;
/* docs/_static/styles.css */
.justify-text {
    text-align: justify;
}
.bold-text {
    font-weight: bold;
}
.spacer {
    margin-top: 1.5rem; /* or any amount of space you need */
}
.spacer1 {
    margin-top: 1rem;
}
.inline-code {
  background-color: #f5f5f5;
  padding: 2px 4px;
  font-family: monospace;
  border-radius: 4px;
  font-size: 0.9em;
}